.level-0 {
  padding-left: 0.5rem;
}
.level-1 {
  padding-left: 1.5rem;
}
.level-2 {
  padding-left: 2.5rem;
}
.level-3 {
  padding-left: 3.5rem;
}
.level-4 {
  padding-left: 4.5rem;
}
.level-5 {
  padding-left: 5.5rem;
}
.level-6 {
  padding-left: 6.5rem;
}
